/*
  
  Awesome-Font!
  Royalty-free handcrafted font, kerning avalible to select customers.
  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z and space!

  spritemapper.sprite_dirs = ../img/awesome-font
  spritemapper.output_css = awesome.css
*/

.letter {
  display: inline-block;
  overflow: hidden;
  text-indent: -999px;
}

.letter.space {
  width: 18px; height: 20px;
}
.letter.a {
  background: url('../img/awesome-font.png') no-repeat -41px -54px;
  width: 22px; height: 17px;
}
.letter.b {
  background: url('../img/awesome-font.png') no-repeat -25px -54px;
  width: 15px; height: 17px;
}
.letter.c {
  background: url('../img/awesome-font.png') no-repeat -48px -33px;
  width: 16px; height: 17px;
}
.letter.d {
  background: url('../img/awesome-font.png') no-repeat -31px -33px;
  width: 16px; height: 17px;
}
.letter.e {
  background: url('../img/awesome-font.png') no-repeat -88px -33px;
  width: 12px; height: 12px;
}
.letter.f {
  background: url('../img/awesome-font.png') no-repeat -12px -76px;
  width: 16px; height: 15px;
}
.letter.g {
  background: url('../img/awesome-font.png') no-repeat -15px -33px;
  width: 15px; height: 17px;
}
.letter.h {
  background: url('../img/awesome-font.png') no-repeat -23px -19px;
  width: 11px; height: 11px;
}
.letter.i {
  background: url('../img/awesome-font.png') no-repeat -11px 0;
  width: 10px; height: 15px;
}
.letter.j {
  background: url('../img/awesome-font.png') no-repeat -90px -54px;
  width: 12px; height: 13px;
}
.letter.k {
  background: url('../img/awesome-font.png') no-repeat -77px -33px;
  width: 10px; height: 14px;
}
.letter.l {
  background: url('../img/awesome-font.png') no-repeat 0 -76px;
  width: 11px; height: 15px;
}
.letter.m {
  background: url('../img/awesome-font.png') no-repeat -76px -54px;
  width: 13px; height: 15px;
}
.letter.n {
  background: url('../img/awesome-font.png') no-repeat -51px -19px;
  width: 11px; height: 11px;
}
.letter.o {
  background: url('../img/awesome-font.png') no-repeat -35px -19px;
  width: 15px; height: 11px;
}
.letter.p {
  background: url('../img/awesome-font.png') no-repeat 0 0;
  width: 10px; height: 18px;
}
.letter.q {
  background: url('../img/awesome-font.png') no-repeat 0 -33px;
  width: 14px; height: 20px;
}
.letter.r {
  background: url('../img/awesome-font.png') no-repeat -12px -54px;
  width: 12px; height: 18px;
}
.letter.s {
  background: url('../img/awesome-font.png') no-repeat -64px -54px;
  width: 11px; height: 15px;
}
.letter.t {
  background: url('../img/awesome-font.png') no-repeat -65px -33px;
  width: 11px; height: 16px;
}
.letter.u {
  background: url('../img/awesome-font.png') no-repeat -36px 0;
  width: 9px; height: 10px;
}
.letter.v {
  background: url('../img/awesome-font.png') no-repeat 0 -19px;
  width: 9px; height: 13px;
}
.letter.w {
  background: url('../img/awesome-font.png') no-repeat -46px 0;
  width: 14px; height: 10px;
}
.letter.x {
  background: url('../img/awesome-font.png') no-repeat -10px -19px;
  width: 12px; height: 12px;
}
.letter.y {
  background: url('../img/awesome-font.png') no-repeat 0 -54px;
  width: 11px; height: 21px;
}
.letter.z {
  background: url('../img/awesome-font.png') no-repeat -22px 0;
  width: 13px; height: 11px;
}
