/*
  
  Awesome-Font!
  Royalty-free handcrafted font, kerning avalible to select customers.
  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z and space!

  spritemapper.sprite_dirs = ../img/awesome-font
  spritemapper.output_css = awesome.css
*/

.letter {
  display: inline-block;
  overflow: hidden;
  text-indent: -999px;
}

.letter.space {
  width: 18px; height: 20px;
}
.letter.a {
  background: url('../img/awesome-font.png') no-repeat -26px -37px;
  width: 22px; height: 17px;
}
.letter.b {
  background: url('../img/awesome-font.png') no-repeat -26px -55px;
  width: 15px; height: 17px;
}
.letter.c {
  background: url('../img/awesome-font.png') no-repeat -49px -37px;
  width: 16px; height: 17px;
}
.letter.d {
  background: url('../img/awesome-font.png') no-repeat -49px -55px;
  width: 16px; height: 17px;
}
.letter.e {
  background: url('../img/awesome-font.png') no-repeat -13px -37px;
  width: 12px; height: 12px;
}
.letter.f {
  background: url('../img/awesome-font.png') no-repeat -49px -73px;
  width: 16px; height: 15px;
}
.letter.g {
  background: url('../img/awesome-font.png') no-repeat -49px -89px;
  width: 15px; height: 17px;
}
.letter.h {
  background: url('../img/awesome-font.png') no-repeat -42px -16px;
  width: 11px; height: 11px;
}
.letter.i {
  background: url('../img/awesome-font.png') no-repeat -14px 0;
  width: 10px; height: 15px;
}
.letter.j {
  background: url('../img/awesome-font.png') no-repeat -49px -107px;
  width: 12px; height: 13px;
}
.letter.k {
  background: url('../img/awesome-font.png') no-repeat -13px -88px;
  width: 10px; height: 14px;
}
.letter.l {
  background: url('../img/awesome-font.png') no-repeat -13px -50px;
  width: 11px; height: 15px;
}
.letter.m {
  background: url('../img/awesome-font.png') no-repeat 0 0;
  width: 13px; height: 15px;
}
.letter.n {
  background: url('../img/awesome-font.png') no-repeat -25px 0;
  width: 11px; height: 11px;
}
.letter.o {
  background: url('../img/awesome-font.png') no-repeat -54px -16px;
  width: 15px; height: 11px;
}
.letter.p {
  background: url('../img/awesome-font.png') no-repeat -13px -103px;
  width: 10px; height: 18px;
}
.letter.q {
  background: url('../img/awesome-font.png') no-repeat -13px -16px;
  width: 14px; height: 20px;
}
.letter.r {
  background: url('../img/awesome-font.png') no-repeat -49px -121px;
  width: 12px; height: 18px;
}
.letter.s {
  background: url('../img/awesome-font.png') no-repeat -26px -73px;
  width: 11px; height: 15px;
}
.letter.t {
  background: url('../img/awesome-font.png') no-repeat -26px -89px;
  width: 11px; height: 16px;
}
.letter.u {
  background: url('../img/awesome-font.png') no-repeat -52px 0;
  width: 9px; height: 10px;
}
.letter.v {
  background: url('../img/awesome-font.png') no-repeat 0 -29px;
  width: 9px; height: 13px;
}
.letter.w {
  background: url('../img/awesome-font.png') no-repeat -37px 0;
  width: 14px; height: 10px;
}
.letter.x {
  background: url('../img/awesome-font.png') no-repeat 0 -16px;
  width: 12px; height: 12px;
}
.letter.y {
  background: url('../img/awesome-font.png') no-repeat -13px -66px;
  width: 11px; height: 21px;
}
.letter.z {
  background: url('../img/awesome-font.png') no-repeat -28px -16px;
  width: 13px; height: 11px;
}
