/*
  # optional configuration

  # `base_url` is a url at which the resulting css
  # and image files can be reached.
  # if not set, uses file-relative paths (recommended).
  #spritemapper.base_url = http://example.com/static/css/

  # `sprite_dirs` is a list of directories within which to allow
  # spritemaps to be generated.
  # by default, all directories are eligible.
  spritemapper.sprite_dirs = ../img/example-sprite

  # `output_css` sets the name for the rewritten css file.
  # defaults to sm_{filename}
  spritemapper.output_css = example.css

  # `output_image` is the name of output spritemap image.
  # sprite_dirs is incompatible with this because both tell the
  # spritemapper how to map sprites to spritemaps.
  # by default, <dir>.png
  #spritemapper.output_image = ../img/sm.png
*/

.mysprite1 {
  background: url(../img/example-sprite/image1.png);
  width: 85px;
  height: 46px;
}

.mysprite2 {
  background: url(../img/example-sprite/image2.png);
  width: 143px;
  height: 218px;
}

.mysprite3 {
  background: url(../img/example-sprite/image3.png);
  width: 85px;
  height: 88px;
}

.mysprite4 {
  background: url(../img/example-sprite/image4.png);
  width: 85px;
  height: 46px;
}
