include README.rst MANIFEST.in setup.py LICENSE requirements.txt
recursive-include spritecss *.py
recursive-include tests *.py
recursive-include tests/test_css_files/ *.css

include htdocs/runserver.py
include htdocs/*.html
recursive-include htdocs/css *.css
recursive-include htdocs/js *.js
recursive-include htdocs/img *.png
